
.DS_Store
CSharps/Basic/.DS_Store
CSharps/Basic/Basic.csproj
CSharps/Basic/bin/Debug/net7.0/Basic
CSharps/Basic/bin/Debug/net7.0/Basic.deps.json
CSharps/Basic/bin/Debug/net7.0/Basic.dll
CSharps/Basic/bin/Debug/net7.0/Basic.pdb
CSharps/Basic/bin/Debug/net7.0/Basic.runtimeconfig.json
CSharps/Basic/obj/Basic.csproj.nuget.dgspec.json
CSharps/Basic/obj/Basic.csproj.nuget.g.props
CSharps/Basic/obj/Basic.csproj.nuget.g.targets
CSharps/Basic/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
CSharps/Basic/obj/Debug/net7.0/apphost
CSharps/Basic/obj/Debug/net7.0/Basic.AssemblyInfo.cs
CSharps/Basic/obj/Debug/net7.0/Basic.AssemblyInfoInputs.cache
CSharps/Basic/obj/Debug/net7.0/Basic.assets.cache
CSharps/Basic/obj/Debug/net7.0/Basic.csproj.AssemblyReference.cache
CSharps/Basic/obj/Debug/net7.0/Basic.csproj.CoreCompileInputs.cache
CSharps/Basic/obj/Debug/net7.0/Basic.csproj.FileListAbsolute.txt
CSharps/Basic/obj/Debug/net7.0/Basic.dll
CSharps/Basic/obj/Debug/net7.0/Basic.GeneratedMSBuildEditorConfig.editorconfig
CSharps/Basic/obj/Debug/net7.0/Basic.genruntimeconfig.cache
CSharps/Basic/obj/Debug/net7.0/Basic.GlobalUsings.g.cs
CSharps/Basic/obj/Debug/net7.0/Basic.pdb
CSharps/Basic/obj/Debug/net7.0/ref/Basic.dll
CSharps/Basic/obj/Debug/net7.0/refint/Basic.dll
CSharps/Basic/obj/project.assets.json
CSharps/Basic/obj/project.nuget.cache
